body,html {
  height: 100%;
}

body {
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}


.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  color: #FFFFFF;
}
.App-Content {
  flex: 1;
}

.App-Footer {
  background-color: rgba(0, 0, 0, 0.6);
}